<h1>About</h1>
<p>My name is Anthony A. Walker and this blog app was developed using Ruby on Rails.</p>
<p>I am a full stack developer who is competent in multiple programming languages.</p>
<%= link_to "Home", root_path %>