$navbar-default-bg: #333333;
@import "bootstrap-sprockets";
@import "bootstrap";

* {
/*   font-family: "Comic Sans MS", cursive, sans-serif; */
  font-family: "Lucida Console", Monaco, monospace
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;  /*Sets the text hover color on bootstrap navbar*/
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #f2f2f2;
  text-transform: uppercase;
  letterspacing: -1px;
  font-weight: bold;
  /*  TRANSITION  */
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

#logo:hover {
  color: #426760;
  text-decoration: none;
}

/* .collapse, .navbar-collapse a {
  color: white;
} */

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("typewriter.jpg");
  background-size: cover;
  height: 650px;
}

.jumbotron h1 {
  color: #f2f2f2;
  text-shadow: 0px 2px 3px #555;
  text-align: center;
  margin-top: 300px;
  letter-spacing: -1px;
  font-weight: bold;
/*   animation: pulse 1s ease infinite; */
}

/* .jumbotron h1:hover {
  color: #f2f2f2;
} */

/* @keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
} */

.btn-xlarge {
  font-size: 1.7em;
/*   background-color:  */
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #416A62; background-image: -webkit-gradient(linear, left top, left bottom, from(#416A62), to(#7DA694));
  background-image: -webkit-linear-gradient(top, #416A62, #7DA694);
  background-image: -moz-linear-gradient(top, #416A62, #7DA694);
  background-image: -ms-linear-gradient(top, #416A62, #7DA694);
  background-image: -o-linear-gradient(top, #416A62, #7DA694);
  background-image: linear-gradient(to bottom, #416A62, #7DA694);
  border: solid 2px #fff;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;

  animation: pulse 2s ease infinite;
}

.btn-xlarge:hover {
  font-size: 1.7em;
/*   background-color: #007399; */
  border: solid 2px #fff;
  background-color: #2e4a45; background-image: -webkit-gradient(linear, left top, left bottom, from(#2e4a45), to(#628e7b));
  background-image: -webkit-linear-gradient(top, #2e4a45, #628e7b);
  background-image: -moz-linear-gradient(top, #2e4a45, #628e7b);
  background-image: -ms-linear-gradient(top, #2e4a45, #628e7b);
  background-image: -o-linear-gradient(top, #2e4a45, #628e7b);
  background-image: linear-gradient(to bottom, #2e4a45, #628e7b);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.article-meta-details {
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #777;
  padding-top: 10px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #cef6f5;
  test-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.badge_edit {
  background-color: #ffb3b3;
  test-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}

.trash-user {
  color: red;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #777;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}